@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
.ant-form,
.ant-form-item,
:where(.css-dev-only-do-not-override-2i2tap)[class^="ant-col"],
:where(.css-dev-only-do-not-override-2i2tap)[class*=" ant-col"],
.ant-menu,
.ant-table {
  font-family: "Comfortaa", sans-serif !important;
  user-select: none !important;
}

body {
  background-color: var(--third-color) !important;
}

::-webkit-scrollbar {
  display: none !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
  background: var(--third-color) !important;
  color: #fff !important;
  text-shadow: 1px 2px 2px rgba(234, 229, 229, 0.902) !important;
  border: 1px solid #f0f0f061 !important;
}

.ant-menu-title-content:hover {
  color: var(--primary-color) !important;
  font-weight: 800 !important;
}

.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before,
.ant-form-item .ant-form-item-explain-error {
  color: var(--primary-color) !important;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
  border-color: var(--primary-color) !important;
}

.ant-card .ant-card-meta-title,
.ant-card .ant-card-meta-description {
  color: white !important;
}

.ant-card .ant-card-actions {
  background: var(--secondary-color) !important;
}

.ant-card .ant-card-body {
  padding: 12px !important;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  border: 1px solid #989393 !important;
}

.ant-table-tbody {
  background-color: var(--third-color) !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.356) !important;
  color: white !important;
  transition: none !important;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap {
  background-color: var(--secondary-color) !important;
  border-radius: 5px;
  width: 45vw !important;
  padding-left: 10px !important;
}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: var(--primary-color) !important;
  font-weight: 700 !important;
}

.ant-tabs-top>.ant-tabs-nav::before {
  display: none !important;
}

.ant-modal-mask,
.ant-drawer-mask {
  backdrop-filter: blur(2px) !important;
}

.ant-table-tbody>tr:hover {
  background-color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  width: 0px !important;
}

/* :where(.css-dev-only-do-not-override-2i2tap).ant-drawer .ant-drawer-body {
  padding: 0 !important;

}

:where(.css-dev-only-do-not-override-2i2tap).ant-drawer .ant-drawer-content,
:where(.css-dev-only-do-not-override-2i2tap).ant-menu-light {
  background: none !important;
} */

.ant-pagination .ant-pagination-item a {
  color: white !important;
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: white !important;
}


.ant-select-selector,
.ant-collapse .ant-collapse-content {
  background-color: var(--third-color) !important;
  color: white !important;
}

.mobile-selector .ant-select-selector {
  background-color: #87AFFF !important;
  color: white !important;
}


.ant-pagination .ant-pagination-item-active {
  background-color: black !important;
}

.ant-table-cell-row-hover {
  background-color: var(--secondary-color) !important;
}

.ant-select-selector {
  background-color: #fff !important;
  color: black !important;
}

.custom-search .anticon-search {
  color: orange;
}

/***********************Bill**/

.bill_container {
  width: 80mm;
  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  gap: 10px;
}

.bill-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
  width: 100%;
}

.bill-margin {
  margin: 5px 0px;
}

.bill_underline {
  border-bottom: 0.5px solid #fff;
}

.bill_padding {
  padding: 2px 0px;
}

.bill_table {
  width: 100%;
  border: 1px solid;
  padding: 1px !important;
}

.bill_body1 {
  width: 70%;

  padding: 5px;

}

.bill_body2 {
  width: 30%;

  padding: 5px;

}

.body_padding {
  padding: 5px;
}

.bill_center {
  text-align: center;
}

.bill_right {
  text-align: right;
}

.bill_left {
  text-align: left;
}

.bill_head {
  font-weight: bold;
  margin: 5px;
}

.bill-50 {
  width: 50%;

}

.bill-20 {
  width: 20%;

}

.bill-30 {
  width: 30%;

}

.bill_container .item_text {
  font-size: 13px;
}

.bill_instruction {
  font-size: 12px;
}

.item_text_header {
  font-size: 15px;
}

/***********************Bill**/

.policy_editor .ql-container {
  height: 600px;
  overflow: hidden;
  overflow-y: auto;
}